// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg_primary-color {
    background-color: #FFFFFF;
  }
  .primary-color {
    background-color: #FFFFFF;
  }
  .bg_secondary-color {
    background-color: #293241;
  }
  .secondary-color {
    color: #293241;
  }
  .hero {
    width: 100vw;
    height: 50vh;
  }
